/* ---------- Estilos Globais ---------- */
:root {
  --green: #67f891;
  --darkGray: #363636;
  --gray: #3f3e3e;
  --tags: #5e5d5d;
  --lightGray: #8d8d8d;
  --mainFont: "Russo One", sans-serif;
  --litleFont: 'Roboto', sans-serif;
  --cursiveFont: 'La Belle Aurore', cursive;
}
* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_center_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--gray);
}

.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: var(--darkGray);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transition-1.is-active {
  pointer-events: all;
  opacity: 1;
}

.transition-2 {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  z-index: 101;
  background-color: var(--darkGray);
  transition: 0.5s ease-out;
}

.transition-2.is-active {
  left: 0px;
}

.transition-3 {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: var(--darkGray);
  transition: 0.5s ease-out;
}

.transition-3.is-active {
  top: 0;
}



/* ---------- Nav-bar Menu ---------- */

/* Logo */
.logo {
  width: 100%;
  height: 80px;
  cursor: pointer;
  flex-direction: column;
}
.logo:hover {
  background-color: var(--lightGray)27;
}
.logo h1 {
  font-size: 35px;
  font-family: var(--mainFont);
  color: var(--green);
}
.logo p {
  color: white;
  font-family: var(--mainFont);
  font-size: 12px;
}

/* Menu list */
.menu {
  background-color: var(--darkGray);
  width: 60px;
  height: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu_list {
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.menu_list a {
  height: 40px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.icone {
  position: relative;
}
.icone img {
  transition: all 0.5s ease-out;
}
.icone p {
  font-family: var(--mainFont);
  color: var(--green);
  font-size: 9px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 50%;
  background-color: var(--darkGray);
  display: block;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.ic2 p {
  bottom: 60%;  
}
.icone:hover p {
  opacity: 1;
}
.icone:hover img {
  opacity: 0;
}
.social_media {
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

/* Social media */
.social_media a {
  width: 100%;
  text-align: center;
}
.social_media i {
  color: var(--lightGray);
  margin-top: 15px;
  transition: all 0.5s ease-out;
  font-size: 16px;
}
.social_media a:hover i {
  transition: all 0.5s ease-out;
  color: var(--green);
}

/* ---------- Banner   ---------- */
.banner {
  font-family: var(--mainFont);
  cursor: default;
  align-items: flex-start;
  flex-direction: column;
  color: white;  
  height: 100%;
  padding-left: 100px;
  width: 80%;
  font-size: 30px;
}
.banner span {
  color: var(--green);
}
.banner h1::before {
  content: '<h1>';
  font-family: var(--cursiveFont);
  font-size: 20px;
  position: absolute;
  margin-top: -30px;
  color: var(--tags);
  font-weight: normal;
}
.banner h1::after {
  content: '<h1>';
  font-family: var(--cursiveFont);
  font-size: 20px;
  position: absolute;
  color: var(--tags);
  margin: 35px 0 0 20px;
  font-weight: normal;
}
.t_about h1::after{
  margin: -5px 0 0 0;
}
.banner p {
  font-family: var(--litleFont);
  font-size: 22px;
  color: var(--lightGray);
  margin-top: 10px;
  margin-bottom: 50px;
}
#about_p {
  margin-top: 40px;
  width: 35%;
  font-size: 18px;
  color: white !important;
}
.banner button {
  color: var(--green);
  font-family: var(--mainFont);
  font-size: 22px;
  border: 1px solid;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 20px;
}
.banner button:hover {
  background-color: var(--green);
  color: var(--darkGray);
}
.menu_list a:hover .menu_list a img {
  background-color: #fff;
}
.tags {
  font-family: var(--cursiveFont);
  font-size: 20px;
  position: absolute;
  color: var(--tags);
}
.top_tag {
  top: 5%;
  left: 4%;
}
.bottom_tag {
  left: 5%;
  bottom: 5%;
}

/* ---------- Page Contato  ---------- */
.contato {
  width: 100%;
  display: flex;
  background-color: #fff;
  height: 100%;
}
.contato-banner {
  width: 50%;
  background-color: var(--gray);
}
.contato-banner h1 {
  font-size: 48px;
  font-family: var(--mainFont);
  color: var(--green);
}
.contato-banner p {
  font-size: 18px;
  color: white;
  font-family: var(--litleFont);
  font-weight: normal;
}
.forms-control {
  background-color: var(--darkGray);
  border: none;
  padding: 15px 10px;
  margin: 5px;
  width: 100%;
}
.forms-control::placeholder {
  color: var(--lightGray);
  font-size: 16px;
}
.forms button {
  border: 2px solid var(--green);
  color: var(--green);
  padding: 10px 30px;
  font-size: 20px;
  font-family: var(--mainFont);
  background-color: transparent;
}
.map {
  width: 50%;
  background: url('../img/mapas.png') center center / cover no-repeat;
}
